<div class="container">
    <div>
      <h2><strong>Jobs Available</strong></h2>

      <div class="cards-container">
        <% @jobs.each do |job| %>
          <%= link_to job_path(job) do %>
            <div class="card-product-infos">
            <%= image_tag "company_logo" %>
            <p><%= job.title %> <br>at <strong><%= job.company.name %></strong>
            <br><%= job.location %>
            <br>$<%= job.salary %>
            <br><%= job.job_description %></p>
          <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
