<div class="container">
 <h2><strong>Jobs Available</strong></h2>
 <h6>Here at my.First.Tech.Job we want to ensure that starting out your tech career is as smooth of an experience
 as possible. <br>Our search system helps you find the entry-level job that perfectly aligns with your skills,
 interests and location.</h6>
  <div class="container justify-content-center">
    <div class="row justify-content-center">
      <div class="col">
        <%= form_with url:jobs_path, method: :get, class: "search" do %>
        <i class="fa-solid fa-magnifying-glass"></i>
          <%= text_field_tag :query,
            params[:query],
            class: "search-input",
            placeholder: "Search by position, company or location"%>
        <% end %>
      </div>
    </div>
  </div>

      <div class="cards-container">
        <% unless @jobs.blank? %>
          <% @jobs.each do |job| %>
            <%= link_to job_path(job) do %>
              <div class="card-product-infos">
                <%= cl_image_tag job.company.logo.key, crop: :fill%>
            <p>
            <%= job.title %> <br>at <strong><%= job.company.name %></strong>
            <br><%= job.location %>
            <br>$<%= job.salary %>
            <br><%= job.job_description %>
            </p>
           <% end %>
        </div>
      <% end %>
    <% else %>
      <p class=message>Sorry! No jobs available for your search</p>
    <% end %>
  </div>
</div>





