<div class="container">
 <h2><strong>Jobs Available</strong></h2>
 <h6>Here at my.First.Tech.Job we want to ensure that starting out your tech career is as smooth of an experience
 as possible. <br>Our search and match algorithm helps you find the entry-level job that perfectly aligns with your skills,
 interests, and location!</h6>
  <div class="container justify-content-center">
    <div class="row justify-content-center">
      <div class="d-flex align-baseline gap-3">
        <%= form_with url:jobs_path, method: :get, class: "searchbar-jobs" do %>
        <i class="fa-solid fa-magnifying-glass"></i>
          <%= text_field_tag :query,
            params[:query],
            class: "searchbar-jobs-input",
            placeholder: "Search by position, company or location"%>
        <% end %>

        <label class="toggle mt-3">
        <%= link_to jobs_path(toggle_params(:newest_first)), id: "sort-toggle", class: "toggle-link #{'active' if params[:order] == 'newest_first'}" do %>
          <label class="switch">
            <p class="toggle-text">most recent</p>
            <%= check_box_tag 'newest_first', '1', params[:order] == 'newest_first', style: 'display: none;' %>
            <span class="slider round"></span>
          </label>
        <% end %>
        </label>
        <label class="toggle mt-3">
        <%= link_to jobs_path(toggle_params(:closest_deadline)), id: "deadline-toggle", class: "toggle-link #{'active' if params[:order] == 'closest_deadline'}" do %>
          <label class="switch">
            <p class="toggle-text">nearest deadline</p>
            <%= check_box_tag 'closest_deadline', '1', params[:order] == 'closest_deadline', style: 'display: none;' %>
            <span class="slider round"></span>
          </label>
        <% end %>
      </label>
        <%# <%= link_to toggle_link_text(params[:order], 'newest_first'), jobs_path(toggle_params(:newest_first)), id: "sort-toggle" %>
        <%# <%= link_to toggle_link_text(params[:order], 'closest_deadline'), jobs_path(toggle_params(:closest_deadline)), id: "deadline-toggle" %>
      </div>
    </div>
  </div>

    <div class="cards-container">
      <% unless @jobs.blank? %>
        <% @jobs.each do |job| %>
          <%= link_to job_path(job), class:"h-100 text-decoration-none m-3" do %>
            <div class="card-gray-bottom">
              <div class="card-product">
                <%= cl_image_tag job.company.logo.key, crop: :fill%>
                <div class="card-product-infos">
                  <div>
                    <h4><b><%= job.title %></b></h4>
                    <p>at <strong><%= job.company.name %></strong></p>
                  </div>
                  <div>
                    <% job.programming_languages.each do |tag| %>
                    <p class="bg-tag rounded-pill d-inline-block px-3 py-1 mt-1"><%=tag%></p>
                    <% end %>
                  </div>
                  <div class="d-flex justify-content-between w-100">
                    <p><b>Location: </b><%= job.location %></p>
                    <p><b>Deadline: </b><%= job.application_deadline.strftime('%d %b %Y') %></p>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
      <% else %>
        <p class=message>Sorry! No jobs available for your search</p>
      <% end %>
    </div>
</div>
