<div class="container">
<% if current_user.company %>
  <h2><strong>My Jobs</strong></h2>
      <% @jobs = Job.where(company_id: current_user.company.id) %>
        <% unless @jobs.blank? %>
          <div class="cards-container">
            <% @jobs.each do |job| %>
                <div class="card-gray-bottom">
                  <div class="card-product">
                    <%= cl_image_tag job.company.logo.key, crop: :fill%>
                    <div class="card-product-infos">
                      <div class="card-product-head">
                        <div>
                          <%= link_to job_path(job) do %>
                            <h4><b><%= job.title %></b></h4>
                          <% end %>
                          <p>posted in <strong><%= job.date_posted %></strong></p>
                        </div>
                        <div class="round-count">
                          <p class="bg-count rounded-pill d-inline-block px-3 py-1">has <b class="fs-4"><%= job.matches.all.count %></b> applications</p>
                        </div>
                      </div>
                      <div>
                        <% job.programming_languages.each do |tag| %>
                        <p class="bg-tag rounded-pill d-inline-block px-3 py-1"><%=tag%></p>
                        <% end %>
                      </div>
                      <div class="d-flex justify-content-between w-100">
                        <p><b>Location: </b><%= job.location %></p>
                        <p><b>Deadline: </b><%= job.application_deadline %></p>
                      </div>
                    </div>
                  </div>
                  <div class="card-product-flex">
                    <div class="card-product-icons">
                      <%= link_to job_path(job), data: {turbo_method: :delete, turbo_confirm: "Are you sure you want to delete this listing?"} do %>
                        <i class="fa-solid fa-trash"></i>
                      <% end %>
                      <%= link_to edit_job_path(job), data: {turbo_method: :get} do %>
                        <i class="fa-solid fa-pen-to-square"></i>
                      <% end %>
                    </div>
                    <%= link_to "See applications", job_matches_path(job), class:"btn-small-aubergine" %>
                  </div>
                </div>
            <% end %>
          </div>
        <% else %>
          <p class=message>Sorry! No jobs registered</p>
      <% end %>
  <% else %>
    Error. Page not found.
  <% end %>
</div>
