<div class="container mt-5 mb-5">
  <div class="row justify-content-center">
    <div class="col-20">
      <div class="banner-container">
        <p class="banner-text"><%= @job.title %></p>
        <div><p><%= @content %></p></div>
      </div>
      <p class="description mt-5"><strong>Job Description:</strong> <%= @job.job_description %></p>

      <div class="card-container mt-5">
        <div class="card-job-index">
          <h5 class="card-title mb-3"><strong>City:</strong></h5>
          <ul>
            <li>
              <p><%= @job.location %></p>
            </li>
          </ul>
        </div>


  <div class="container-card d-flex justify-content-center ">
    <div class="card-job">
      <div class="box-job">
        <div class="content-job">
          <h3 class="title-job mb-3"><strong>City:</strong></h3>
          <p><%= @job.location %></p></li>
        </div>
      </div>
    </div>


    <div class="card-job">
      <div class="box-job">
        <div class="content-job">
          <h3 class="title-job mb-3"><strong>Programming Languages:</strong></h3>
          <p><%= @job.programming_languages %></p>
        </div>
      </div>
    </div>

    <div class="card-job">
      <div class="box-job">
        <div class="content-job">
          <h3 class="title-job mb-3"><strong>Benefits:</strong></h3>
          <p>Work Visa: <%= @job.work_visa %></p>
          <p><%= @job.benefits %></p>
          <p><%= @job.salary %></p>
        </div>
      </div>
    </div>
  </div>

  <% if current_user.role_candidate? && current_user.candidate.matches.where(job: @job).count.zero? %>
    <%= simple_form_for [@job, @match] do |f| %>
      <div class="container-btn">
        <div class="row justify-content-center">
          <%= f.submit "APPLY FOR THIS JOB", class: "btn-apply justify-content-center col-md-3" %>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
