<div class="container mt-5 mb-5">
  <div class="row justify-content-center">
    <div class="col-20">
      <h1>Details of <%= @job.title %> at <%=@job.company.name %></h1>

      <p><strong><%= @job.title %></p></strong>
      <p><strong>Location: </strong><%= @job.location %></p>
      <p><strong>Job Description: </strong><%= @job.job_description %></p>
      <p><strong>Soft Skills: </strong><%= @job.soft_skills %></p>
      <p><strong>Programming Languages: </strong><%= @job.programming_languages %></p>
      <p><strong>Work Visa: </strong><%= @job.work_visa %></p>
      <p><strong>Salary: </strong><%= @job.salary %></p>
      <p><strong>Benefits: </strong><%= @job.benefits %></p>
      <p><strong>Application Deadline:</strong> <%= @job.application_deadline %></p>
      <p><strong>Date Posted: </strong><%= @job.date_posted %></p>
    </div>

    <% if current_user.role_candidate? && current_user.candidate.matches.where(job: @job).count.zero? %>
      <%= simple_form_for [@job, @match] do |f| %>
        <div class="d-grid">
          <%= f.submit "Apply", class:  "btn btn-secondary" %>
        </div>
      <% end %>
    <% end %>

  </div>
</div>
