<div class="container mt-5 mb-5">
  <div class="row justify-content-center">
    <div class="col-20">
      <div class="banner-container">
        <p class="banner-text"><%= @job.title %></p>
      </div>
      <p class="description mt-5"><strong>Job Description:</strong> <%= @job.job_description %></p>

      <div class="card-container mt-5">
        <div class="card-job-index">
          <h5 class="card-title mb-3"><strong>City:</strong></h5>
          <ul>
            <li>
              <p><%= @job.location %></p>
            </li>
          </ul>
        </div>


        <div class="card-job-index">
          <h5 class="card-title mb-3"><strong>What you will learn:</strong></h5>
          <ul>
            <li>
              <p><%= @job.soft_skills %></p>
            </li>
            <li>
              <p><strong>Programming Languages:</strong> <%= @job.programming_languages %></p>
            </li>
          </ul>
        </div>

        <div class="card-job-index">
          <h5 class="card-title mb-3"><strong>Benefits:</strong></h5>
          <ul>
            <li><p>Work Visa: <%= @job.work_visa %></p></li>
            <li><p><%= @job.benefits %></p></li>
            <li><p><%= @job.salary %></p></li>
          </ul>
        </div>
      </div>

      <p><strong>Application Deadline:</strong> <%= @job.application_deadline %></p>
      <p><strong>Date Posted:</strong> <%= @job.date_posted %></p>
    </div>

    <% if current_user.role_candidate? && current_user.candidate.matches.where(job: @job).count.zero? %>
      <%= simple_form_for [@job, @match] do |f| %>
        <div class="d-grid">
          <%= f.submit "Apply", class: "btn btn-secondary" %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
