<div class="container mt-5 mb-5">
   <div>
    <p class="banner-text"><%= @job.title %></p>
    <p class="banner-text-small"> <%= @job.company.name %></p>
      <div class="carddeadline mb-4"><strong>Application deadline:</strong> <%= @job.application_deadline.strftime('%d/%m/%y') %></div>
    <div><p><strong>Job compatibility:</strong> <%= @content %></p></div>
  </div>
  <div>
    <p class="description mt-5"><strong>Job Description:</strong> <%= @job.job_description %></p>
  </div>
      <div class="container-card d-flex justify-content-center ">
    <div class="card-job">
      <div class="box-job">
        <div class="content-job">
          <h3 class="title-job mb-3"><strong>Location:</strong></h3>
          <p><%= @job.location %></p></li>
        </div>
      </div>
    </div>
   <div class="card-job">
      <div class="box-job">
        <div class="content-job">
          <h3 class="title-job mb-3"><strong>Programming Languages:</strong></h3>
          <p><%= @job.programming_languages %></p>
        </div>
      </div>
    </div>
     <div class="card-job">
      <div class="box-job">
        <div class="content-job">
          <h3 class="title-job mb-3"><strong>Benefits:</strong></h3>
          <p>Salary: <%= @job.salary %></p>
          <p>Work Visa: <%= @job.work_visa %></p>
          <p><%= @job.benefits %></p>
        </div>
      </div>
    </div>
    <div class="card-job">
      <div class="box-job">
        <div class="content-job">
          <h3 class="title-job mb-3"><strong>Soft Skills:</strong></h3>
          <p><%= @job.soft_skills %></p>
        </div>
      </div>
    </div>
  </div>
  <% if current_user.role_candidate? && current_user.candidate.matches.where(job: @job).count.zero? %>
    <%= simple_form_for [@job, @match] do |f| %>
      <div class="container-btn">
        <div class="row justify-content-center">
          <%= f.submit "APPLY FOR THIS JOB", class: "btn-apply justify-content-center col-md-3" %>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
