<h1>Details of <%= @job.title %> at <%=@company.name %></h1>

<p><%= @job.title %></p>
<p><%= @job.location %></p>
<p>Job Description<%= @job.description %></p>
<p>Soft Skills<%= @job.soft_skills %></p>
<p>Programming Languages<%= @job.programming_languages %></p>
<p><%= @job.work_visa %></p>
<p>Salary<%= @job.salary %></p>
<p>Benefits<%= @job.benefits %></p>
<p>Application Deadline<%= @job.application_deadline %></p>
<p>Date Posted<%= @job.date_posted %></p>
