<div class="container mt-5 mb-5">
  <div class="row justify-content-center">
    <div class="col-20">
      <div class="banner-container ">
        <p class="banner-text"><%= @job.title %></p>
      </div>



        <p class="description mt-5"><strong>Job Description:</strong> <%= @job.job_description %></p>
        <p><strong>Location:</strong> <%= @job.location %></p>


      <div class="card-container d-flex justify-content-between">
        <div class="card-job-index">
          <h5 class="card-title mb-3">What we are looking for:</h5>
          <p><strong>Soft Skills:</strong> <%= @job.soft_skills %></p>
          <p><strong>Programming Languages:</strong> <%= @job.programming_languages %></p>
        </div>

        <div class="card-job-index">
          <p><strong>Work Visa:</strong> <%= @job.work_visa %></p>
          <p><strong>Benefits:</strong> <%= @job.benefits %></p>
          <p><strong>Salary:</strong> <%= @job.salary %></p>
        </div>
      </div>
      <p><strong>Application Deadline:</strong> <%= @job.application_deadline %></p>
      <p><strong>Date Posted:</strong> <%= @job.date_posted %></p>
    </div>

    <% if current_user.role_candidate? && current_user.candidate.matches.where(job: @job).count.zero? %>
      <%= simple_form_for [@job, @match] do |f| %>
        <div class="d-grid">
          <%= f.submit "Apply", class: "btn btn-secondary" %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
