<div class="container-job">
<div class="green-banner">
  <div class="infos-left">
      <p class="banner-text mb-1"><%= @job.title %></p>
      <p class="banner-text-small">at
      <%= link_to company_path(@job.company) do %>
        <%= @job.company.name %>
      <% end %>
      </p>
      <div class="carddeadline"><strong>Application deadline:</strong> <%= @job.application_deadline.strftime('%d %b %Y') %></div>
  </div>
    <% if current_user.role_candidate? %>
      <div class="compability-card">
        <h4>&lt;/&gt; Combatibility</h4> <p><%= raw @content %></p>
      </div>
    <% end %>
    <% if current_user.company == @job.company %>
      <%= link_to "Edit profile", edit_job_path, class: "btn-profile" %>
    <% end %>

  </div>
</div>
    <%# #não está funcionando por aqui o "if current_user.role_candidate? ou o abaixo. Travei aqui pra poder fazer outras coisas. ass: Be" %>
    <%# <% if current_user && current_user.role_company != nil %>

</div>
<div class="container">
<div class="job-flex">
  <div class="job-description-card mt-5">
    <h4>&lt;/&gt; Description</h4> <p><%= simple_format(@job.job_description) %></p>
  </div>
</div>
  <div class="container-card d-flex justify-content-center">
    <div class="card-job">
      <div class="box-job">
        <div class="content-job">
          <h3 class="title-job mb-3"><strong>Location:</strong></h3>
          <p><%= @job.location %></p></li>
        </div>
      </div>
    </div>

   <div class="card-job">
      <div class="box-job">
        <div class="content-job">
          <h3 class="title-job mb-3"><strong>Tech Languages:</strong></h3>
          <% @job.programming_languages.each do |item| %>
           <p><%= item %></p>
          <% end %>
        </div>
      </div>
    </div>

    <div class="card-job">
      <div class="box-job">
        <div class="content-job">
          <p><strong>Salary:</strong> $<%= @job.salary %></p>
          <p><strong>Benefits: </strong><%= @job.benefits %></p>
          <p><strong>Work Visa:</strong> <%= @job.work_visa %></p>
        </div>
      </div>
    </div>

    <div class="card-job">
      <div class="box-job">
        <div class="content-job">
          <h3 class="title-job mb-3"><strong>Soft Skills:</strong></h3>
          <p><%= @job.soft_skills %></p>
        </div>
      </div>
    </div>
  </div>

  <% if current_user && current_user.role_candidate? && current_user.candidate.matches.where(job: @job).count.zero? %>
    <%= simple_form_for [@job, @match] do |f| %>
      <div class="container-btn">
        <div class="row justify-content-center">
          <%= f.submit "Apply!", class: "btn-apply justify-content-center col-md-3" %>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
