<div class="profile-container">
  <div class="profile-banner">
    <div class="name-photo">
    <% unless @candidate.photo.attached? %>
      <%= image_tag "blank-profile-picture.png", class: "avatar-profile" %>
    <% else %>
      <%= cl_image_tag @candidate.photo.key, :gravity=>"faces", :radius=>"max", class: "avatar-profile"%>
    <% end %>
    <h1><%= @candidate.first_name %> <%= @candidate.last_name %></h1>
    </div>
    <p>Age <strong><%= ((Time.zone.now - @candidate.birth_date.to_time) / 1.year.seconds).floor %></strong><br>From <strong><%= @candidate.nationality %></strong></p>

    <% if current_user.candidate == @candidate %>
      <%= link_to "Edit your profile", edit_candidate_path, class: "btn-profile" %>
    <% end %>
  </div>

  <div class="profile-body">
    <div class="body-column">
    <h4> &lt;/ &gt; Basic Information</h4>
      <div class ="column-card">
        <strong>Summary</strong><br><br>
        <%= @candidate.summary %>
      </div>
      <div class ="column-card">
        <strong>Resumé</strong><br><br>
        <%= link_to 'Check your CV', rails_blob_url(@candidate.cv_upload, disposition: "attachment"), target: "_blank", class: "btn-dark" %>
      </div>
    </div>
    <div class="body-column">
    <div class="column-intro">
      <h4> &lt;/ &gt; Skills</h4>
    </div>
      <div class="column-card">
        Looking for opportunities in the following areas:<br><br>
        <% @candidate.tech_interest.each do |i|%>
          <p class="bg-tag rounded-pill d-inline-block px-3 py-1"><%= i %></p>
        <% end %>
      </div>
      <div class ="column-card">
        Proficient in the following programming languages:<br><br>
        <% @candidate.tech_languages.each do |i| %>
          <p class="bg-tag rounded-pill d-inline-block px-3 py-1"><%= i %></p>
        <% end %>
      </div>
    </div>
  </div>
</div>
