<div class="container">
  <div class="row justify-content-center">
    <div class="form-box">
      <div class="formcard">
      <h2>Edit <b><%= @company.name%></b>'s details </h2><br>
      <%= simple_form_for @company do |f| %>
         <%= f.input :name %>
        <%= f.input :headquarters %>
        <%= f.input :industry %>
        <%= f.input :description %>
        <%= f.input :contact_info %>
        <%= f.input :logo, as: :file %>
        <%= f.submit "Update", class: "btn1"%>
      <% end %>
    </div>
  </div>
</div>
</div>
