<div class="container">
  <div class="row justify-content-center">
    <div class="form-box">
      <h4>Complete your company's form</h4><br>
      <div class="formcard">
      <%= simple_form_for @company do |f| %>
        <%= f.input :name %>
        <%= f.input :headquarters %>
        <%= f.input :industry, collection: ['Technology', 'Finance'], prompt: 'Select an industry from the dropdown' %>
        <%= f.input :description %>
        <%= f.input :contact_info %>
        <%= f.submit "Submit", class: "btn1"%>
      <% end %>
      </div>
    </div>
  </div>
</div>
