<div class="profile-container">
  <div class="profile-banner">
    <div class="name-photo">
      <%= cl_image_tag @company.logo.key, crop: :fill, class: "avatar-profile"%>
    </div>
    <div class="container"><h1><%= @company.name %></h1></div>
  </div>

  <div class="profile-body">
    <div class="body-column">
    <div class="column-intro">
      <h4> &lt;/ &gt; Details</h4>
    </div>
      <div class ="column-card">
        <strong>About</strong><br><br>
        <p><%= @company.description %></p>
      </div>
      <div class="column-card">
        <p>Company: <%= @company.name %></p>
        <p>Headquarters: <%= @company.headquarters %></p>
        <p>Industry: <%= @company.industry %></p>
        <p>Contact: <%= @company.contact_info %></p>
      </div>
    </div>
    <div class="body-column">
      <div class ="column-card">
        <strong>Jobs Available</strong><br><br>
        <% @jobs = Job.where(company_id: params[:id]) %>
        <% @jobs.each do |job| %>
          <div class="link-jobs"><ul>
          <%= link_to job_path(job) do %>
            <li><%= job.title %> - <%= job.location %></li>
          <% end %>
          </ul></div>
        <% end %>
      </div>
    </div>
  </div>
</div>
