<h1>Details of <%= @company.name %></h1>

<p>Name: <%= @company.name %></p>
<p>Headquarters: <%= @company.headquarters %></p>
<p>Industry: <%= @company.industry %></p>
<p>Description: <%= @company.description %></p>
<p>Contact info: <%= @company.contact_info %></p>

