<% if current_user.company %>
  <div class="container">
    <h2><strong>Matches for Job <%= @job.title %></h2></strong>

    <div class="card-matches-job-container">
      <% @matches.each do |match| %>
        <div class="card-match-job">
          <div class="card-match-job-info">
          <%= link_to candidate_path(match.candidate) do %>
            <%= cl_image_tag match.candidate.photo.key %>
          <% end %>
            <div class="candidate-details">
                  <p>
                  <strong>Candidate:</strong> <%= link_to match.candidate.first_name, candidate_path(match.candidate) %> <%= link_to match.candidate.last_name, candidate_path(match.candidate) %></p>
                  <p>Application status: <%= match.status.gsub(/_/,' ') %></p>
                  <%= simple_form_for match do |f| %>
                    <div class = "match-change">
                    <%= f.input :status, label: false, collection: Match.statuses.keys, class:"statuses-collection" %>
                    <%= f.submit "Change", class:"btn-change" %>
                    </div>
                  <% end %>
                </li>
              </ul>
              <div class="doa-match-job">Date of application: <%= match.candidate.created_at.strftime("%d-%m-%Y %H:%M") %></div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
