<% if current_user.company %>
  <div class="container">
    <h2><strong>Matches for Job <%= @job.title %></h2></strong>

    <div class="card-matches-container">
      <% @matches.each do |match| %>
        <div class="card-match">
          <div class="card-match-info">
            <div class="job-details">
              <ul>
                <li>
                  <p>
                  Candidate: <%= link_to match.candidate.first_name, candidate_path(match.candidate) %></p>
                  <p>Status: <%= match.status %></p>
                  <%= simple_form_for match do |f| %>
                    <%= f.input :status, label: false, collection: Match.statuses.keys %>
                    <%= f.submit "Change" %>
                  <% end %>
                </li>
              </ul>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
