 <div class="container"  data-controller="toggle">
    <h2><strong>Matches for Job <%= @job.title %></h2></strong>
    <div class="card-matches-job-container">
      <% @matches.each do |match| %>
        <div class="card-match-job">
          <div class="candidate-details-top">
            <div class="candidate-details-name">
              <p class="mb-0">Candidate</p>
              <h4><strong><%= match.candidate.first_name %> <%= match.candidate.last_name %></strong></h4>
            </div>
          </div>

            <div class="buttons-match-job">
              <div data-action="click->toggle#open" data-toggle-target="button">
                <p class="btn-small-dark">View Profile</p>
              </div>
              <div>
                <%= link_to 'View CV', rails_blob_url(match.candidate.cv_upload, disposition: "attachment"), target: "_blank", class: "btn-small-dark" %>
              </div>
              </div>

          <div class= "candidate-details-bottom">
            <div>
              <p><strong>Application status:</strong> <%= match.status.gsub(/_/,' ') %></p>
              <%= render "form_status", match: match %>
            </div>

            <div class="doa-match-job">
              <p class="mb-0"><b>Date of application: </b></p>
              <p><%= match.candidate.created_at.strftime("%d %b %Y %H:%M") %></p>
            </div>
          </div>
        </div>
        </div>

          <div data-toggle-target="side" class="d-none">
            <%= render "candidate_side", match: match %>
          </div>
      <% end %>
    </div>
