<!DOCTYPE html>
<html>
  <head>
    <title>MyFirstTechJob</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= favicon_link_tag asset_path('Logo_Vector.png') %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag 'custom_devise' %>

    <%= javascript_importmap_tags %>
  </head>

  <body>
    <% if current_user %>
      <div data-controller="notification-subscription"
      data-notification-subscription-user-id-value="<%= current_user.id %>">
      </div>
      <% end %>
      <%= render "shared/navbar" %>
      <%= render "shared/flashes" %>

      <%= yield %>

      <%= render 'shared/footer' %>
   </body>
</html>
